@import url('https://db.onlinewebfonts.com/c/38d41072aa88a50711d4d50dd0d50f6b?family=Neue+Machina+Regular');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


.font1{
    font-family: "Neue Machina Regular";
  }

.font2{
    font-family: 'Sacramento', cursive;
}

.content1 {
    letter-spacing: 3px;
    font-size: 10px;
    font-weight: lighter;
    color: rgb(250, 250, 250);
}

.content2 {
    font-size: 16px;
    text-align: justify;
    font-weight: 400;
    margin-top: 35px;
    color: rgb(250, 250, 250);
  }

hr{
    width: 100px;
    border: 1px solid rgb(255, 255, 255);
    margin-top:25px;
}


@media screen and (max-width: 768px) {
  .custom-div {
    margin-top: 20px;
    padding: 20px;
  }
}


